/*Website Styles */

* {
  font-size: 100%;
  /* margin: 0; */
  line-height: 1;
  /* border: 1px solid red; */
}
body {
  background-color: LightGrey;
  color: charcoal;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  margin: 20px, 20px, 20px;
  background-image: url(images/regal.png)
}
  h1 {
  font-size: 36px;
  color: darkGrey;
  text-shadow: 1px 1px 0 black;
  text-align: center;
  margin: 50px
}
h2 {
  font-size: 24px;
  text-shadow: 1px 1px 0 black;
}
h3 {
  font-size: 18px;
  line-height: 2;
}
p {
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}
img {
  box-shadow: 5px 5px 5px #888;
  height: 300px;

}
a:link,
a:focus,
a:active {
  color: BlueViolet;
  text-decoration: none;
  text-shadow: 1px 1px 0 DarkGrey;
}
a:hover {
  text-decoration: underline;
  background: grey;
}
a:visited {
  color: RoyalBlue;
  text-shadow: 1px 1px 0 DarkGrey;
}
.title {
  font-size: 48px;
  text-decoration: underline;
  color: #0b0808;
}
.container {
  max-width: device-width;
  margin: 0 auto;
}
div{
  margin: 0 auto;
}
.banner {
  opacity: .6;
  height: 150px;
  background-size: 100%;
  background-image: url(images/tina-pattern.jpg);
  background-position: 50 right;
}
.banner, p{
  font-size: 22px;
}
footer {
  text-align: center;
}
.float-image {
  float: center;
  margin-bottom: 15px;
  margin-right: 15px;
}
  .column {
    width: 50%;
    float: left;
  }
  .column-1 {
    width: 33%;
  }
  .column-2 {
    width: 33%;
  }
  .column-3{
  width: 34%
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  text-align: center;
}
li {
  display: inline;
  float: center;
}
li a {
  text-align: center;
  padding: 14px 16px;
}
